In [1]:
def my_function(x,y):
    pass

In [2]:
def my_sqr(x):
    return x ** 2

In [3]:
my_sqr(2)

4

In [4]:
my_sqr(5)

25

In [5]:
assert my_sqr(5) == 25#unit testing when ever we write a script we find like this and then we test what is going on 
#if answer is right no error or wrong it throws error

In [6]:
def avg_2(x,y):
    return (x+y)/2

In [7]:
avg_2(2,3)

2.5

In [8]:
avg_2(35,7)

21.0

In [9]:
%%html
<style type ='text/css'>
table.dataframe th,table.dataframe td
{
    border:1px;
    border-style:solid;
}

In [10]:
import pandas as pd

In [11]:
df =pd.DataFrame({
    'a':[10,20,30],
    'b':[20,30,40]
})

In [12]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [13]:
df['a'] **2

0    100
1    400
2    900
Name: a, dtype: int64

In [14]:
my_sqr

In [15]:
df['a'].apply(my_sqr)

0    100
1    400
2    900
Name: a, dtype: int64

In [16]:
def my_exp(x,e):
    return x ** e

In [17]:
my_exp(2,10)

1024

In [18]:
df['a'].apply(my_exp,e=4)

0     10000
1    160000
2    810000
Name: a, dtype: int64

In [19]:
def print_me(x):
    print(x)

In [20]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [22]:
import numpy as np

In [23]:
def avg_3_apply(col):
    return np.mean(col)

In [28]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [29]:
df['a'].mean()

20.0

In [30]:
df['a'] + df['b']

0    30
1    50
2    70
dtype: int64

In [38]:
def avg_2_mod(x,y):
    if(x == 20):
        return np.NaN#np.NaN or np.nan
    else:
        return(x + y)/2

In [39]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [40]:
avg_2_mod(df['a'],df['b'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [41]:
avg_2_mod_vec = np.vectorize(avg_2_mod)

In [42]:
avg_2_mod_vec(df['a'],df['b'])

array([15., nan, 35.])

In [45]:
@np.vectorize
def avg_2_mod(x,y):
    if(x == 20):
        return np.NaN#np.NaN or np.nan
    else:
        return(x + y)/2

In [46]:
avg_2_mod(df['a'],df['b'])

array([15., nan, 35.])

In [47]:
import numba #numba only understand numpy not pandas
#but it is fast to compare numpy

In [53]:
@numba.vectorize
def avg_2_mod_numba(x,y):
    if(x == 20):
        return np.NaN
    else:
        return(x + y)/2

In [54]:
avg_2_mod_numba(df['a'],df['b'])

ValueError: cannot determine Numba type of <class 'pandas.core.series.Series'>

In [55]:
avg_2_mod_numba(df['a'].values,df['b'].values)#*******************

array([15., nan, 35.])

In [57]:
%%timeit
avg_2(df['a'],df['b'])

809 µs ± 18.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [58]:
%%timeit
avg_2_mod(df['a'],df['b'])

510 µs ± 26.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [60]:
%%timeit
avg_2_mod_numba(df['a'].values,df['b'].values)

25.3 µs ± 671 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

### Part 3 -- Apply Functions
#### Look at the table3 dataset

In [61]:
tbl3 = pd.read_csv('./data/table3.csv')
tbl3

       country  year               rate
0  Afghanistan  1999       745/19987071
1  Afghanistan  2000      2666/20595360
2       Brazil  1999    37737/172006362
3       Brazil  2000    80488/174504898
4        China  1999  212258/1272915272
5        China  2000  213766/1280428583

### write a function that takes a value of rate and parses out the total population

In [62]:
tbl3.dtypes

country    object
year        int64
rate       object
dtype: object

In [70]:
def extract_population(rate):
    pop = rate.split('/')[1]
    return int(pop)

#or
# def extract_population(rate,delimi='/',position=1):
#     pop = rate.split(delimi)[position]
#     return int(pop)

In [71]:
assert extract_population('123/456') == 456

In [72]:
pops = tbl3['rate'].apply(extract_population)

### Set the population to a new column

In [74]:
tbl3['popus'] = pops
tbl3

       country  year               rate       popus
0  Afghanistan  1999       745/19987071    19987071
1  Afghanistan  2000      2666/20595360    20595360
2       Brazil  1999    37737/172006362   172006362
3       Brazil  2000    80488/174504898   174504898
4        China  1999  212258/1272915272  1272915272
5        China  2000  213766/1280428583  1280428583